.form-container{
    display: flex;
    flex-direction: column;
    margin: 0 20%;
    align-items: center;
}

.form-container h1{
    font-size: 5rem;
    text-align: center;
    margin: 40px;
}


.form-container img{
    width: 50%;
}

.form{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.form-label{
    border-top: 10px solid #DC143C ;
    padding: 8px;
    font-size: 2.4rem;
    margin: 10px 0;
}

.form-input{
    width: 50%;
    margin: 8px 16px;
    font-size: 2rem;
}

.radio-label{
    font-size: 2rem;
    padding: 5px;
    margin-left: 1%;
}

.checkbox-label{
    font-size: 2rem;
    padding: 5px;
    margin-left: 1%;
}

.order-btn{
    align-self: flex-end;
    width: 35%;
    font-size: 3rem;
    background-color: #ec3944;
    margin: 32px 0;
    border: none;
    border-radius: 8px;
    box-shadow: 5px 5px 1px #7e1818;
    outline: none;
    margin-bottom: 50px;
}


.order-btn:hover{
    position: relative;
    top: 5px;
    left: 5px;
    box-shadow: none;
}

.order-confirmation{
    font-size: 4rem;
}

.order-confirmation h3{
    
    margin: 16px;
}

.error{
    font-size: 2rem;
    color:red;
}